<div class="col-md-6">
    <div class="well">
        <h2 class="text-center">New to DevLink?</h2>
        <p class="text-center">View the the new user guide to get quickly learn how to use DevLink.</p>
        <%= link_to "DevLink Guide", "#", class: 'btn btn-default btn-lg btn-block' %>
    </div>
</div>
<div class="col-md-6">
    <div class="well">
        <h2 class="text-center">The Community</h1>
        <p class="text-center">Visit the community to meet other developers, entrepreneurs, and investors!</p>
        <%= link_to "Visit the community", users_path, class: 'btn btn-default btn-lg btn-block' %>
    </div>
</div>