.avatar-show-img {
    width: 128px;
    height: 128px;
}

.job-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #3e4042;
    text-align: center;
    margin-right: 5px;
}

.well.profile-block {
    color: #3e4042;
    h3 {
        margin-top: 0;
    }
}

.well.pro-desc {
    background-color: #fff;
    border-color: #7f7f7f;
}

.well.pro-contact {
    background-color: #fff;
    border-color:  #7f7f7f;
}

.profile-pg-container {
    background-color: #3e4042;
}

.user-index-avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.well.white-bg {
    background-color: white;
}